<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="headline (txt)">
		<div class="container">
			<br>
			<header>
				<h5 class="text-center">
					hi
				</h5>
			</header>
			<br>
		</div>
	</div>

	<div th:fragment="nav (all)">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-light bg-light">
				<a class="navbar-brand p-1 mr-5">StudApp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#thenavbarDefault" aria-controls="thenavbarDefault"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse " id="thenavbarDefault">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item navbar-nav p-1" th:if="${all == true}">
							<form class="form-inline" th:action="@{/newXXX}" method="post">
								<input type="hidden" id="nid" name="nid"> <input
									type="submit" class="btn btn-outline-primary"
									value="neuer student">
							</form>
						</li>
<!-- 						th:if="${all == true and #strings.toString(currentUser.user.role) == 'ADMIN'}" -->
						<li class="nav-item navbar-nav p-1"
							>
							<form th:action="@{/XXXs/managed}" method="post">
								<input type="submit" class="btn btn-outline-secondary"
									value="verwaltete studenten">
							</form>
						</li>
						<!-- 					<ul class="navbar-nav ml-auto"> -->
						<li class="nav-item navbar-nav p-1" th:if="${all != true}">
							<form th:action="@{/start}" method="post">
								<input type="hidden" name="user" id="user"
									th:value="${currentUser.logname}"> <input
									type="submit" class="btn btn-outline-dark"
									th:value="fertig">
							</form>
						</li>
						<li class="nav-item navbar-nav p-1" th:if="${currentUser != null}">
							<form th:action="@{/logout}" method="post">
								<input type="submit" class="btn btn-outline-success"
									value="ausloggen">
							</form>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<br>
	</div>
	
	<div th:fragment="greeting (all)">
		<div class="container">
			<h5>
				hi <span th:if="${fromUser != null}" th:text="${fromUser}">unbekannte
					/ unbekannter</span>
			</h5>
			<div>was kann ich fuer dich tun ?</div>
			<br>
		</div>
	</div>

</body>

</html>